<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lyrics Search Engine</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'homepage/basic.css'%}">
    </head>
    <body style="text-align: center; background-color:#fff3e6;">
        <h1>Search Results</h1>
        {% for i in artist %}
        <form action="searchAlbum/" method="POST">{% csrf_token %}
            <h3>{{ i.artist.artist_name }}</h3>
            <button value="{{ i.artist.artist_id }}" name="artist_id">Click here</button>
        </form>
        {% endfor %}
    </body>
</html>