<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lyrics Search Engine</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'homepage/basic.css'%}">
    </head>
    <body style="text-align: center;">
        <h1> Track results </h1>
        <form class="blurry" action="resulting/" method="POST">{% csrf_token %}
           <h2>Track : {{ i.track_name }}</h2>  
            <h3>Artist: {{ i.artist_name }}</h3>
            <h3>Album: {{ i.album_name }}</h3>
            <h3>Lyrics</h3>
            <p>{{ j }}</p> 
        </form>
    </body>
</html>