<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lyrics Search Engine</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'homepage/basic.css'%}">
    </head>
    <body style="text-align: center; background-color:#fff3e6;">
        <h1>Search Result</h1>
        <h3>{{j}}</h3>
        {% for i in tracks %}
        <form action="lyrics/" method="POST">{% csrf_token %}
            <h3>{{ i.track.track_name }}</h3>
            <button value="{{ i.track.track_id }}" name="track_id">Click here</button>
        </form>
        {% endfor %}
    </body>
</html>
